{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    ul{
        list-style: none;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-3">Reset your Password Here</h3>
                <p>Please enter your new password twice so we can verify you typed it in correctly</p>
                <form class="mt-3" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div>
                    <input type="submit" class="btn " value="reset">
                </form>
            </div>
        </div>
    </div>

    <script>
        let inputs = document.querySelectorAll("input[type=password]")
        for(let input in inputs){
            inputs[input].classList += 'form-control'
        }
        let ul = document.getElementsByTagName("ul")
        console.log(ul)
        ul[1].style.listStyle = 'none'
        ul[1].classList += 'mb-5'
    </script>
{% endblock %}
