{% extends 'base.html' %}
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'blog/css/register.css' %}">
    <div class="container wrapper-register">
        <div class="row register-wrap">
            <div class="col-md-12">
             <span class="register-form-title">Change your Password here.</span>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                        <div class="form-group">
                            {{ field.errors }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-block mt-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let inputs = document.querySelectorAll('input[type=password]')
        for (let input in inputs){
            inputs[input].classList += 'form-control'
        }
        console.log(inputs)
        inputs[0].placeholder = 'Old password'
        inputs[1].placeholder = 'New password'
        inputs[2].placeholder = 'Confirm password'

    </script>
{% endblock %}