{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mt-3">Password reset complete</h4>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>

    <script>
        let inputs = document.getElementById('id_email')
        inputs.classList += 'form-control w-50'
    </script>
{% endblock %}