{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-3">Password Reset Page</h3>
                <p>Forgotted your password. Don't worry enter your email id we will send you reset password link to your id</p>
                <p>Enter email id given while <strong>registration</strong></p>
                <form class="mt-3" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div>
                    <input type="submit" class="btn " value="send mail">
                </form>
            </div>
        </div>
    </div>

    <script>
        let inputs = document.getElementById('id_email')
        inputs.classList += 'form-control w-50'
    </script>
{% endblock %}